.header {
  background-color: rgb(0, 100, 255);
  color: white;
  padding: 12px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: normal;
}

.progress-bar {
  width: 50%;
  padding-right: 10px;
  scroll-padding-left: 10px;
}

.progress {
  width: 50%;
  padding-right: 10px;
  scroll-padding-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 100, 255);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 0px;
}


.fileUpload {
  position: fixed;
  left: 0px;
  bottom: 44px;
  top: 66px;
  width: 50%;
  margin-left: 25px;
}

.upload {
  color: white;
  border-radius: 3px;
  background-color: rgb(0, 100, 255);
}

.fileList {
  position: fixed;
  left: 50%;
  right: 0px;
  bottom: 44px;
  top: 66px;
  width: 100%;
  margin-left: 30px;
}

.delete {
  border-radius: 5px;
  color: #fff;
  background-color: crimson;
  border-color: white;
}


.tableDiv {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 520px;
}

table {  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 660px; 
  border-spacing: 0; 
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 500px;
  font-size: 15px;
}

tbody
{
    counter-reset: rowNumber;           /* Set the Serial counter to 0 */
}

td, th { 
  border: 1px solid rgb(0, 100, 255); 
  height: 25px; 
  border-collapse: collapse;
  border-width: 0.1px;
} /* Make cells a bit taller */



th {  
  font-weight: bold; /* Make sure they're bold */
  position: sticky;
  top: 0px;
  color: #fff;
  border-color: cornflowerblue;
  font-weight: normal;
  background-color: rgb(0, 100, 255);
}

td {  
  background: #FAFAFA; /* Lighter grey background */
  text-align: center; /* Center our text */
  font-size: 15px;
  color: black;
  height: 25px;
  border-color: cornflowerblue;
  /* display: block; */
  overflow-x: hidden;
  overflow-y: auto;
}


table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}


body:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border: 1px;
  border-left: 2px dotted black;
}

h2 {
  font-weight: normal;
  text-decoration: underline;
}


.search {
  /* float: right; */
  border: thin;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 0px;
}