.header h1{
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 12px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 0px;
  font-size: 25px;
  color: rgb(71, 49, 146);
  border-bottom: 2px solid rgb(71, 49, 146);
  height: 60px;
}

.header img{
  width: 60px;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.progress {
  width: 90%;
  scroll-padding-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  rgb(0, 100, 255);
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 0px;
  height: 30px;
}


.fileUpload {
  position: fixed;
  bottom: 30px;
  top: 60px;
  right: 50%;
  left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.fileUpload h2{
  font-size: 20px;
  color: rgb(71, 49, 146);
  text-decoration: underline;
}

.upload {
  color: white;
  border-radius: 3px;
  background-color: rgb(0, 100, 255);
}

.fileList {
  position: fixed;
  left: 50%;
  right: 0px;
  bottom: 30px;
  top: 60px;
  margin-left: 20px;
  margin-right: 0px;
  font-size: 15px;
}

.fileList h2{
  font-size: 20px;
  color: rgb(71, 49, 146);
  text-decoration: underline;
}

.delete {
  border-radius: 5px;
  color: #fff;
  background-color: crimson;
  border-color: white;
}


.tableDiv {
  right: 0px;
  height: 500px;
  text-align: center;
  font-size: 15px;
  margin-right: 20px;
}

table {  
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  right: 0px;
  border-spacing: 0; 
  display: block;
  overflow-x: hidden; 
  overflow-y: auto;
  overflow: auto;
  height: 500px;
  font-size: 15px;
}

tbody
{
    counter-reset: rowNumber;           /* Set the Serial counter to 0 */
}

td, th { 
  border: 1px solid rgb(0, 100, 255); 
  height: 20px; 
  border-collapse: collapse;
  border-width: 0.1px;
} /* Make cells a bit taller */



th {  
  font-weight: bold; /* Make sure they're bold */
  position: sticky;
  top: 0px;
  color: #fff;
  border-color: cornflowerblue;
  font-weight: bolder;
  background-color: rgb(0, 100, 255);
}

td {  
  background: #FAFAFA; /* Lighter grey background */
  text-align: center; /* Center our text */
  font-size: 15px;
  color: black;
  height: 25px;
  border-color: cornflowerblue;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}


body:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border: 1px;
  border-left: 2px dotted black;
}

.search {
  border: thin;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 0px;
}
